# Node dependencies
/node_modules/

# Build output
/dist/

# Local Strapi admin / temp files
.strapi/
.strapi-updater.json

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Optional TypeScript cache
*.tsbuildinfo

# Optional editor files
.vscode/
.idea/
